/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body {width:900px; margin:auto;}
header {margin-top:20px;}
label {width:80px; margin-right:10px; float:left;}
form div {margin-bottom:5px;}
.flash { width:100%; padding:10px; border:1px solid; margin-top:10px;}
.alert { color:red; }
.notice { color:green; }
footer {margin-top:20px; font-size:12px; color:grey;}